.wrapContent {
    padding: 20px;
    width: 100%;
}
.tilePage {
    font-size: 20px;
    color: black;
    margin-right: 20px;
}
.box_upload-img {
    display: flex;
    align-items: center;
}