
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--text-color: #302e29;
	--text-white: #fff;
	--main-color: #ff9100;
	--second-color: #858585;
	--bg-color: #fffbf6;

}
.header {
    background-color: #fff ;
}
.headerScroll {
    background-color: #fff ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.wrap_img-header {
    display: flex !important;
    justify-content: center;
}
.title_logo {
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: var(--main-color)
}
.register, .login {
	font-weight: 600;
	cursor: pointer;
}
.inforItem{
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}
.inforItem:hover {
	background-color: #f7f5f5;
}
