.footer {
    position: relative;
    margin-top: 40px;
}
.img_footer {
    height: 200px;
    width: 100%;
}
.contact-content {
    padding-top: 25px;
}
.wrap_info-footer {
    position: absolute;
    width: 100%;
    top: 0;
}
.wrap_footer {
    display: flex;
    justify-content: space-evenly;
}
.wrap_footer > li {
    margin-bottom: 0 !important;
}
.contact_footer {
    display: flex !important;
    align-items: center;
}
.footer_text {
    padding-left: 10px;
    color: #fff !important;
}
